#movie-container{
    .movie-contain-list{
        width:100%;
        height:380px;
        h2{
            font-size:18px;
            line-height:20px;
            color:#E8570C;
       }
        ul{
            width:100%;
            overflow:hidden;
            border-top:1px solid #ccc;
            margin-top: 10px;
            li{
                float:left;
                width:25%;
                box-sizing: border-box;
                height:360px;
                padding:10px;
                img{
                    display: block;
                    width:210px;
                    height:280px;
                }
                div{
                    width:210px;
                    h3{
                        color:#108ee9;
                        font-size:18px;
                        line-height: 30px;
                        float:left;
                    }
                    p{
                        color:#66CD00;
                        font-size:16px;
                        line-height: 30px;
                        float:right;
                    }
                }
            }
        }
    }
}
.movie-detail{
    .detail-banner{
        width:100%;
        overflow:hidden;
        img{
            display: block;
            float:left;
        }
        .detail-banner-right{
            float:left;
            padding:10px;
            margin-left:30px;
            h2{
                font-size:20px;
                font-weight: bold;
                color:#108ee9;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                line-height:25px;
                color:#E8570C;
                margin-bottom: 30px;
            }
        }
    }
    .detail-intro{
        height:40px;
        margin-top:10px;
        border:1px solid #ccc;
        padding:10px;
        border-radius:10px;
        p{
            width:100%;
            text-indent: 20px;
            font-size:14px;
            height:40px;
            line-height:20px;
            overflow:hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2 ;
        }
    }
    .detail-comments{
        width:100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border:1px solid #ccc;
       
        border-radius: 5px;
        h2{
            width:100%;
            height:40px;
            line-height: 40px;
            font-size:16px;
            text-indent: 20px;
            border-bottom:1px solid #ccc;
        }
        li{
            height:100px;
            padding:20px;
            overflow: hidden;
            border-bottom:1px solid #ccc;
            div{
                float:left;
                width:10%;
                img{
                    display: block;
                    width:60px;
                    height:60px;
                }
                p{
                    margin:5px;
                }
            }
            h3{
                
                float:left;
                height:100px;
                font-size:16px;
                line-height: 100px;
                
            }
        }
        a{
            display: block;
            height:40px;
            font-size: 14px;
            text-align: center;
            line-height: 40px;
        }
        .no-more{
            display: block;
            height:40px;
            font-size: 14px;
            text-align: center;
            line-height: 40px;
            color:#e1e1e1;
        }
    }
}